@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$primary-color: hsl(257, 40%, 49%);
$secundary-color: hsl(300, 69%, 71%);
$color-text: white;

$primary-font: 'Poppins', sans-serif;

$secundary-font: 'Open sans', sans-serif;

$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 600
);