@import './_variables';

@function weight($key) {
    @return map-get($font-weight, $key);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0 10vw;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    background-size: 100% 100%;
}

.header-logo {
    height: 3rem;
    margin: 3rem 0;
}

.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .img-container {
        width: 55%;

        img {
            width: 100%;
            height: auto;
        }
    }
    
    .content {
        width: 40%;
        color: white;

        h1 {
            font-family: $primary-font;
            font-size: 2.5rem;
        }

        p {
            margin: 1rem 0;
            font-family: $secundary-font;
        }

        .btn-content {
            cursor: pointer;
            padding: 1rem 3rem;
            margin: 1rem 0;
            outline: none;
            border: none;
            border-radius: 2rem;
            box-shadow: 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.479);
            font-size: 1rem;
            color: $primary-color;
            background: white;
            transition: 0.3s ease-out;
        }

        .btn-content:hover {
            transform: scale(1.1);
            box-shadow: 0.2rem 1rem 0.6rem rgba(0, 0, 0, 0.479);
        }
      
    }
}

footer {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;

    .social-media {
        display: flex;
    }

    .box {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.2rem;
        height: 3rem;
        width: 3rem;
        border: 2px solid white;
        border-radius: 2rem;
        transition: 0.1s ease-out;

        a {
            font-size: 1.2rem;
            color: white;
        }
    }

    .box:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1000px){
    body {
        background-image: url(/images/bg-mobile.svg);
    }

    .header-logo {
        height: 2rem;
    }

    .main{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    
        .img-container {
            width: 100%;
    
            img {
                width: 100%;
                height: auto;
            }
        }
        
        .content {
            width: 100%;
            text-align: center;
            color: white;

            h1 {
                font-family: $primary-font;
                font-size: 2rem;
            }
    
            p {
                font-size: 0.9rem;
                margin: 1rem 0;
                font-family: $secundary-font;
            }
    
            .btn-content {
                cursor: pointer;
                padding: 0.8rem 3rem;
                margin: 1rem 0;
                outline: none;
                border: none;
                border-radius: 2rem;
                box-shadow: 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.479);
                font-size: 1rem;
                color: $primary-color;
                background: white;
                transition: 0.3s ease-out;
            }
        }
    }

    footer {
        justify-content: center;
        align-items: center;
    }

}
